// ----------------------------------------------
// Elements - Form Elements
// ----------------------------------------------

.form {
    padding: 15px;
    border-radius: 3%;
    background-color: #fff;
    border: 1px solid rgba($black, 0.2);
    box-shadow: 0 0 2px 0 rgba($black, 0.2);

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    &__element {
        display: flex;
        flex-wrap: wrap;

        label {
            width: 100%;
            font-size: 18px;
            line-height: 18px;
            padding: 10px 0;
        }

        input {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border: 1px solid $black;

            &:focus {
                outline: none;
            }
        }

    }

    &__submit {
        border: 1px solid $black;
        padding: 10px;
        margin: 10px 0;
        float: right;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

}