$font: 'Replica';

$artist-grid:(
    columns: 12,
    gutter: 30px
);
$artist-grid--tablet: (
columns: 12,
gutter: 25px,
media: '(max-width: 1240px)'
);

$artist-grid--mobile: (
columns: 12,
gutter: 25px,
media: '(max-width: 768px)'
);