<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <div class="artists">
        <!-- Grid -->
        <div class="artists__container">
            <!-- Grid item -->
            <div class="artist">
                <div class="artist__container">
                    <div class="artist__image">
                        <!-- Artist Image -->
                        <img src="https://via.placeholder.com/600" alt="">
                    </div>
                    <div class="artist__info">
                        <div class="artist__name">
                            <!-- Artist Name -->
                            <span>Shakira</span>
                        </div>
                        <div class="artist__genre">
                            <span>Genres:</span>
                            <ul>
                                <li>
                                    <span>Pop</span>
                                </li>
                                <li>
                                    <span>Pop</span>
                                </li>
                                <li>
                                    <span>Pop</span>
                                </li>
                                <li>
                                    <span>Pop</span>
                                </li>
                            </ul>
                        </div>
                        <div class="artist__links">
                            <button class="artist__button">
                                <a href="">
                                    <span>Link to Artist</span>
                                </a>
                            </button>
                            <button class="artist__button">
                                <a href="">
                                    <span>buy tickets</span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Grid item -->
             <!-- Grid item -->
             <div class="artist">
                    <div class="artist__container">
                        <div class="artist__image">
                            <!-- Artist Image -->
                            <img src="https://via.placeholder.com/600" alt="">
                        </div>
                        <div class="artist__info">
                            <div class="artist__name">
                                <!-- Artist Name -->
                                <span>Shakira</span>
                            </div>
                            <div class="artist__genre">
                                <span>Genres:</span>
                                <ul>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="artist__links">
                                <button class="artist__button">
                                    <a href="">
                                        <span>Link to Artist</span>
                                    </a>
                                </button>
                                <button class="artist__button">
                                    <a href="">
                                        <span>buy tickets</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Grid item -->
                 <!-- Grid item -->
            <div class="artist">
                    <div class="artist__container">
                        <div class="artist__image">
                            <!-- Artist Image -->
                            <img src="https://via.placeholder.com/600" alt="">
                        </div>
                        <div class="artist__info">
                            <div class="artist__name">
                                <!-- Artist Name -->
                                <span>Shakira</span>
                            </div>
                            <div class="artist__genre">
                                <span>Genres:</span>
                                <ul>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="artist__links">
                                <button class="artist__button">
                                    <a href="">
                                        <span>Link to Artist</span>
                                    </a>
                                </button>
                                <button class="artist__button">
                                    <a href="">
                                        <span>buy tickets</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Grid item -->
                 <!-- Grid item -->
            <div class="artist">
                    <div class="artist__container">
                        <div class="artist__image">
                            <!-- Artist Image -->
                            <img src="https://via.placeholder.com/600" alt="">
                        </div>
                        <div class="artist__info">
                            <div class="artist__name">
                                <!-- Artist Name -->
                                <span>Shakira</span>
                            </div>
                            <div class="artist__genre">
                                <span>Genres:</span>
                                <ul>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                    <li>
                                        <span>Pop</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="artist__links">
                                <button class="artist__button">
                                    <a href="">
                                        <span>Link to Artist</span>
                                    </a>
                                </button>
                                <button class="artist__button">
                                    <a href="">
                                        <span>buy tickets</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Grid item -->
        </div>
    </div>
</body>

</html>

<!-- Image, Genres, Name, href -->