<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/nouislider.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../src/css/main.css" />
</head>

<body>
    <div class="main">
        <div class="main__container">
            <div class="filter">
                <div class="filter__container">
                    <div class="filter__range__container">
                        <span class="filter__title">Date</span>
                        <div class="filter__range"></div>
                        <span class="filter__date--start"></span> - <span class="filter__date--end"></span>
                    </div>
                    <div class="filter__range__container">
                        <span class="filter__title">Location</span>
                        <div class="filter__range--location"></div>
                        <span class="filter__start--location"></span> - <span class="filter__ender--location"></span>
                    </div>
                    <div class="filter__range__container">
                        <span class="filter__title">Price</span>
                        <div class="filter__range--price"></div>
                        <span class="filter__start--price"></span> - <span class="filter__end--price"></span>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar__container">
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->
                    <!-- artist -->
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>Shakira</span>
                        </div>
                        <div class="sidebar__tickets">
                            <button>
                                <span>Buy Tickets</span>
                            </button>
                        </div>
                    </div>
                    <!-- end artist -->

                </div>
            </div>
            <div class="map">
                <div class="map__container">

                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/nouislider.js"></script>
    <script src="../src/js/slider.js"></script>
    <!-- <script src="../dist/main.718b1d31f27848b7a56c.js"></script> -->
</body>

</html>