    <div class="main">
        <div class="main__container">
            <div class="filter">
                <div class="filter__container">
                    <div class="filter__range__container">
                        <span class="filter__title">Date</span>
                        <div class="filter__range"></div>
                        <span class="filter__date--start"></span> - <span class="filter__date--end"></span>
                    </div>
                    <div class="filter__range__container">
                        <span class="filter__title">Location</span>
                        <div class="filter__range--location"></div>
                        <span class="filter__start--location"></span> - <span class="filter__ender--location"></span>
                    </div>
                    <div class="filter__range__container">
                        <span class="filter__title">Price</span>
                        <div class="filter__range--price"></div>
                        <span class="filter__start--price"></span> - <span class="filter__end--price"></span>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar__container">
                    <!-- artist -->
                    {{#each data}}
                    <div class="sidebar__artist">
                        <div class="sidebar__photo">
                            <img src="{{ imageUrl }}" alt="">
                        </div>
                        <div class="sidebar__info">
                            <span>{{ artist }}</span>
                        </div>
                    </div>
                    {{/each}}
                    <!-- end artist -->
                </div>
            </div>
            <div class="map">
                <div class="map__container">

                </div>
            </div>
        </div>
    </div>
