// ----------------------------------------------
// Objects - Grid
// ----------------------------------------------

$grid:(columns: 12, gutter: 0);

.main {
    height: 100vh;
    // padding-top: 80px;
    background-color: $white;
    overflow: hidden;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        @include grid-container;

        .filter {
            @include grid-column(12, $grid);
            height: 150px;
            border-bottom: 1px solid rgba($black, 0.2);
            box-shadow: 0 0 4px 0 rgba($black, 0.2);

            &__container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

            &__range {
                &__container {
                    width: 300px;
                    text-align: center;
                }
            }

            &__slider {
                appearance: none;
                width: 100%;
                height: 10px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                transition: opacity .2s;
                &:hover {
                    opacity: 1;
                }
                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%; 
                    background: $black; 
                    cursor: pointer;
                }
                &::-moz-range-thumb {
                    width: 15px; 
                    height: 15px; 
                    border-radius: 50%; 
                    background: $black; 
                    cursor: pointer; 
                }
            }
        }

        .sidebar {
            width: 300px;
            height: calc(100vh - 80px);
            border-right: 1px solid rgba($black, 0.2);
            overflow: hidden;
            position: relative;

            &__container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: -17px;
                // right: 0;
                overflow-y: scroll;
            }

            &__artist {
                display: flex;
                align-items: center;
                height: 60px;
                width: 100%;
                padding: 0 25px 0 15px;
                border-bottom: 1px solid rgba($black, 0.2);
                box-shadow: 0 0 2px 0 rgba($black, 0.2);
            }

            &__photo {
                border-radius: 50%;
                width: 45px;
                height: 45px;
                border: 1px solid rgba($black, 0.3%);
            }

            &__info {
                margin-left: 15px;
                user-select: none;

                >span {
                    font-family: $font;
                    font-weight: bold;
                    font-size: 18px;
                    font-size: 18px;
                }
            }

            &__tickets {
                margin-left: auto;

                >button {
                    padding: 8px;
                    border: 1px solid rgba($black, .3%);
                    background-color: $white;

                    >span {
                        font-family: $font;
                        font-size: 16px;

                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .map {
            @include grid-column(10, $grid);
            height: calc(100vh - 80px);

            &__continer {}
        }
    }
}