// ----------------------------------------------
// Component - Header
// ----------------------------------------------

.navigation {
    &__container {
        width: 100%;
        height: 5vh;
        display: flex;
        background-color: $black;
        padding: 0 30px;
        align-items: center;
    }
    &__logo {
        a {
            font-size: 36px;
            line-height: 36px;
            color: $white;
            font-family: $font;
            font-weight: bold;
            text-decoration: none;
        }
    }
    &__person {
        margin-left: auto;
        font-size: 22px;
        font-weight: bold;
        color: $white;
        font-family: $font;
        user-select: none;
        padding-right: 10px;
    }
    &__settings {
        border: none;
        background-color: transparent;
        padding: 15px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    &__links {
        >ul {
            list-style: none;
            display: inline-flex;
            li {
                padding: 0 10px;
                a {
                    font-family: $font;
                    text-decoration: none;
                    color: $white;
                    &:hover {
                        color: rgba($white, 0.5);
                    }
                }
            }
        }
    }
}
